.info-block {
    display: flex;
    justify-content: space-between;
    padding: 100px 0 40px 0;
}

.info-block__title {
    font-size: 42px;
    line-height: 52px;
    font-weight: 600;
}

.info-block__text {
    width: 50%;
}

.info-block__text p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}
.info-block__link {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #4ac7e9;
    text-decoration: none;
}

.info-block__image {
    max-width: 100%;
    align-self: center;
    margin: 0 auto;
    display: block;
}

.apps {
    display: flex;
}

.app__image {
    max-width: 200px;
    align-self: center;
}

.mobile {
    display: none;
}


@media screen and (max-width: 1279px) {
    .info-block {
        flex-direction: column;
        padding: 60px 0 24px 0;
    }

    .mobile-reverse {
        flex-direction: column-reverse;
    }

    .info-block__text {
        width: 100%;
    }

    .shift-right {
        position: relative;
        top: 0;
        left: 40px;
        align-self: flex-end;
        margin: 0;
    }

    .shift-left {
        position: relative;
        top: 0;
        right: 40px;
        align-self: flex-start;
        margin: 0;
    }

}



@media screen and (max-width: 767px) {
    .info-block {
        padding: 40px 0 16px 0;
    }

    .info-block__title {
        font-size: 28px;
        line-height: 38px;
    }
    .info-block__text p {
        font-size: 16px;
        line-height: 24px;
    }
    .info-block__link {
        font-size: 16px;
        line-height: 24px;
    }
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }

    .shift-right {
        left: 16px;
    }

    .shift-left {
        right: 16px;
    }

    .apps {
        justify-content: center;
    }
    
    .app__image {
        max-width: 120px;
    }


}
