.malevich1 {
    width: 80px;
    height: 80px;
    background: #000;
    position: relative;
    right: 0;
    top: 80px;
    float: right;
    z-index: 100;
}

.malevich2 {
    width: 100%;
    height: 100px;
    background: #000;
    position: relative;
    bottom: 100px;
    left: 0;
}

@media screen and (max-width:1600px) {
    .malevich1 {
        width: 50px;
    }
}


@media screen and (max-width:860px) {
    .malevich1 {
        width: 40px;
    }
}